<div class="row">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr class="info">
					<th class="text-center">User name</th>
					<th class="text-center">Date created</th>
					<th class="text-center">Rating</th>
					<th class="text-center">Games win</th>
					<th class="text-center">Games draw</th>
					<th class="text-center">Games lose</th>
					<th class="text-center">Connection status</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
				<tr>
					<td class="text-center">{{ username }}</td>
					<td class="text-center">{{ dateCreated }}</td>
					<td class="text-center">{{ rating }}</td>
					<td class="text-center success">{{ nbGamesWin }}</td>
					<td class="text-center warning">{{ nbGamesDraw }}</td>
					<td class="text-center danger">{{ nbGamesLose }}</td>
					<td class="text-center">{{ status }}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
    <div id="logoutSuccess" hidden="hidden">{{ logoutSuccessMessage }}</div>
</div>